.character{
    grid-area: character;
    display: flex;
    height: 120vh;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    /* align-items:flex-end; */
}
.character__image{
    height: 80%;
}