.character{
    grid-area: character; 
    /* position:relative;  */
    display: flex;
    height: 600px;
    width: 40vh;   
    flex-direction: column;
    justify-content: center;
    align-items:flex-end; 
}
.character__image{
    display: flex;
    /* height: 70%; */
    position: relative;
    height: 520px;
    width: 200px;  
}