.description{
    grid-area: description;
    flex-direction: column;
    display: flex;
    justify-content: center; 
    font-weight: 400;
}

.description__title{
    font-size: 1rem;
    color: #505050;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.title{
    color:#8A2D5E;
    font-size: 5rem;
    font-weight: 700;
}
.name{
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
}
.description__text{
    height: 250px; 
    width: 400px;    
    font-size: 1rem; 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}
