
.logo{
    height: 70px; 
    width: 30vw; 
    color:#fff;
    font-size: 2.5rem;
    display: flex;
    justify-content: center; 
    /* place-items: center; */
    /* margin-right: 30px; */
    /* margin-left: 2px; */
}
