*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.social-media{
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}
.social-icon:hover{
    background-color: #fff;
}